{% macro authors_block(authors, unique_affiliations) %}
    <h2>
        {%- for author in authors %}
            {{ author['given-names'] }} {{ author['family-names'] }}
            <sup>{{ unique_affiliations.index(author.affiliation) + 1 }}</sup>
            {%- if author.orcid is defined -%}
                <a href="{{ author.orcid }}"><img decoding="async" alt=""
                                                  src="./assets/img/orcid_16x16.webp"
                                                  style="width:16px; height:16px; margin:3px"/></a>
            {%- endif %}
            {%- if not loop.last %}, {% endif %}
        {%- endfor %}
    </h2>
    <ul>
        {% for affiliate in unique_affiliations -%}
            <sup>{{ unique_affiliations.index(affiliate) + 1 }}</sup> : {{ affiliate }}
        {% endfor -%}
    </ul>
{% endmacro %}
